<h1>Create Department</h1>
<div class="container">
  <div class="form-group">
    <label>DeptNo</label>
    <input type="text" class="form-control" [(ngModel)]="dept.deptno">
  </div>
  <div class="form-group">
    <label>DeptName</label>
    <input type="text" class="form-control" [(ngModel)]="dept.deptname">
  </div>
  <div class="form-group">
    <label>Location</label>
    <input type="text" class="form-control" [(ngModel)]="dept.location">
  </div>
  <div class="form-group">
    <label>Capacity</label>
    <input type="text" class="form-control" [(ngModel)]="dept.capacity">
  </div>
  <div class="form-group">
     <button class="btn btn-primary" (click)="clear()">Clear</button>
     <button class="btn btn-success" (click)="save()">Save</button>
  </div>
</div>
<hr/>
<a [routerLink]="['']">Back to List</a>
