<div class="container">
    <strong>hello Angular</strong>
     <!--Using the Interpolation for Static Property Binding
       AOT will compile the Component class and will parse the name property immediately
       Ivy will compile the HTML template will be process the name interpolation aka expression binding
    -->
     <strong>
       {{name}}
     </strong>
     <br/>
     <strong>
        <!--AOT will invoke the typeof expression to evaluate the expression-->
         Sum of {{200+300}}
     </strong>
    <br/>
    <!--The Property Binding [Attribute], AOT will parse the type-->
    <input type="text" class="form-control" [value]="name">
    <!--Event Binding (EVENT-NAME)="public-method-of-component()"-->
    <button class="btn btn-warning"
     (click)="display()">Click</button>
     <br/>
    <!--Two-Way Binding = Property Binding + Event Binding
      [(ngModel)], Attribute Directive, provided by the
      'FormModule' from @angular/form, this will provide the 'Template Form'

      1. Listen to the default element of the HTML on which ngModel is used  (keyup+change)
      2. Invoke the 'ngModelChanged' event
      3. Read the Current 'value' of HTML Element
      4. This value will be passed to Component class
      5.The class will invoke 'ngOnChange' and this will update the property bound to ngModel
      6. This will PUSH the property updated to UI
      7. The UI will be updated
    -->

    <input type="text" class="form-control" [(ngModel)]="name">
    <br/>
    <input type="text" class="form-control" [(ngModel)]="name">
    <br/>
    <input type="text" class="form-control" [(ngModel)]="name">
    <br/>
     <div>
        <strong>
          Selected Name: {{selName}}
        </strong>
     </div>
    <!--using structural directive-->
    <select class="form-control" [(ngModel)]="selName">
       <option *ngFor="let n of names" value="{{n}}">{{n}}</option>
    </select>
    <br/>
    <button class="brn btn-danger" (click)="toggleVal()">Toggle</button>
    <div class="container" [hidden]="toggle">
      <strong>Value will be displayed for using hidden {{toggle}}</strong>
      <br/>
      <app-message-component></app-message-component>
    </div>
    <hr>
    <div class="container" *ngIf="toggle">
      <strong>Value will be displayed for using *ngIf {{toggle}}</strong>
      <br/>
      <app-message-component></app-message-component>
    </div>
</div>
